<template>
    <b-modal v-if="visibility" v-model="visibility" :title="title" @hide="close" centered>
        <b-form-group label="Name">
            <b-form-input v-model="editedItem.name"></b-form-input>
        </b-form-group>
        <b-form-group label="Quantity">
            <b-form-input v-model="editedItem.company"></b-form-input>
        </b-form-group>
        <template #modal-footer>
            <b-button variant="secondary" @click="close">Cancel</b-button>
            <b-button variant="primary" @click="save">Save</b-button>
        </template>
    </b-modal>
</template>
  
<script>
//import axios from 'axios';

export default {
    props: {
        show: Boolean,
        item: Object,
    },
    data() {
        return {
            visibility: false,
            editeditem: { ...this.item }
        }
    },
    updated() {
       
    },
    watch: {
        show(newVal) {
            this.visibility = newVal;
        },
        item: { //In some cases the modal loaded before data passed
            immediate: true,
            handler(newItem) {
                this.editedItem = { ...newItem }
            },
        },
    },
    computed: {
            title() {
                return this.editedItem.id ? "Edit Item" : "New Item"; 
            }
    },
    methods: {
        async save() {
            try {
                let response;
                if(this.editedItem.id) { //Edit
                    //response = await axios.post('/app/contacts/editcontact', this.editedContact);
                }
                else { //New
                    //response = await axios.post('/app/contacts/savecontact', this.editedContact);
                }
                if (response.status === 200) {
                    this.editedItem = {};
                    this.$emit('dataSaved');
                } else {
                    console.error('Error saving item:', response.data);
                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
        },
        close() {
            this.$emit('close');
        }
    }
};
</script>