<template>
  <div>
    <b-alert style="position: absolute;" dismissible fade variant="success" :show="showLogoutMessage">Successfully logged out</b-alert>
    <h2>Inventory List</h2>

    <div class="row">
      <div class="col-md-3">
        <b-input-group class="position-relative">
          <b-form-input v-model="search" placeholder="Search by Name"></b-form-input>
          <b-icon icon="x-circle" v-show="search != ''" @click="clearSearchBox" class="clear-search"></b-icon>

        </b-input-group>
      </div>
      <div class="col-md-9 text-right">
        <b-button v-if="isLoggedIn" variant="primary" class="mr-3" @click="addItem">
          <b-icon icon="plus"></b-icon> Add Item
        </b-button>
        <b-button v-if="isLoggedIn" variant="warning" @click="logout">Logout</b-button>
        <b-button v-else variant="info" @click="login">Login</b-button>
      </div>
    </div>

    <br>
    <b-table striped bordered responsive :items="filteredItems" :fields="itemFields" primary-key="'id'">
      <template v-if="isLoggedIn" v-slot:cell(edit)="data">
        <b-tooltip v-if="!data.item.editable" :target="'editbtn-wrapper' + data.index" placement="top" triggers="hover">
          Not Editable
        </b-tooltip>
        <span class="d-inline-block" tabindex="0" :id="'editbtn-wrapper' + data.index">
          <b-button variant="primary" :disabled="!data.item.editable" @click="editItem(data.item)">
            <b-icon icon="pencil"></b-icon>
          </b-button>
        </span>
      </template>
    </b-table>

    <EditItem :show="showEditItem" :item-data="editedItem" @close="closeEditItem" @dataSaved="dataSaved"></EditItem>

  </div>
</template>

<script>
import EditItem from './EditItem.vue';
import axios from 'axios';

export default {
  name: 'InventoryList',
  components: {
    EditItem
  },
  data() {
    return {
      items: [],
      search: '',
      editedItem: {},
      showEditItem: false,
      showLogoutMessage: false
    };
  },
  computed: {
    filteredItems() {
      const searchWord = this.search.toLowerCase();
      return this.items.filter(item =>
      item.name.toLowerCase().includes(searchWord)
      );
    },
    itemFields() {
      let fields = [
        {
          key: 'name',
          label: 'Name',
        },
        {
          key: 'quantity',
          label: 'Quantity',
        }
      ]
      if (this.isLoggedIn) fields.push({ key: 'edit', label: 'Edit' });
      return fields;
    },
    isLoggedIn() {
        return this.$store.state.isLoggedIn;
    }
    
  },
  watch: {
        isLoggedIn(newVal) {
          if(!newVal) this.showLogoutMessageBox();
        }
    },
  mounted() {
    this.fetchInventory()
  },
  methods: {
    addItem() {
      this.editedquantity = {};
      this.showEditquantity = true;
    },
    login() {
      this.$router.push('/login');
    },
    logout() {
      this.$store.dispatch('setLoggedIn', false);
      localStorage.removeItem('token');
      this.$router.push('/login');
    },
    showLogoutMessageBox() {
      this.showLogoutMessage = true;
      setTimeout(() => {
        this.showLogoutMessage = false;
      }, 2000);
    },
    clearSearchBox() {
      this.search = '';
    },
    editItem(item) {
      this.editedItem = { ...item };
      this.showEditItem = true;
    },
    closeEditItem() {
      this.showEditItem = false;
    },
    dataSaved() {
      this.closeEditItem();
      this.fetchInventory();
    },
    fetchInventory() {
      axios.defaults.headers.common["Authorization"] ="Bearer " + localStorage.getItem("token");
      axios.get('/api/events')
        .then(response => {
          this.items = response.data;
        })
        .catch(error => {
          console.error('Error in fetching inventory data:', error);
        });
    }
  }
}
</script>

<style scoped lang="scss">
.clear-search {
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  transform: translateY(65%);
  z-index: 10;
}
</style>
