<template>
    <div>
      <b-jumbotron fluid class="bg-primary text-white">
        <h1>Inventory Shipment Management</h1>
      </b-jumbotron>
  
      <b-container fluid :class="[classes, 'mt-4', 'main-container']">
        <b-row>
          <b-col>
            <slot></slot>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </template>
  
  <script>
  export default {
    name: 'PageLayout',
    props: {
      classes: String
    }
  }
  </script>