<template>
  <div>
    <h2>Login</h2>
    <b-alert v-model="showUnseccessfulLoginAlert" variant="danger" dismissible>
      Wrong username or password!
    </b-alert>
    <b-form @submit.prevent="login">
      <b-form-group label="Username" label-for="username">
        <b-form-input id="username" v-model="username" type="text" required></b-form-input>
      </b-form-group>
      <b-form-group label="Password" label-for="password">
        <b-form-input id="password" v-model="password" type="password" required></b-form-input>
      </b-form-group>
      <b-button type="submit" class="mt-2" variant="primary">Login</b-button>
    </b-form>
    <router-link class="m-4 d-block" to="/forgot-password">Forgot Password</router-link>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'LoginBox',
  data() {
    return {
      username: '',
      password: '',
      showUnseccessfulLoginAlert: false
    };
  },
  methods: {
    login() {
      const credentials =  {username: this.username, password: this.password};
      axios.post('http://localhost:10001/api/auth/login', credentials)
        .then(response => {
          this.$store.dispatch('setLoggedIn', true);
          const token = response.data.jwt;
          localStorage.setItem('token', token);
          this.$router.push('/');
        })
        .catch(error => {
          this.showUnseccessfulLoginAlert = true;
          console.error('Authentication failed:', error);
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
