<template>
  <PageLayout :classes="widthClass">
    <div class="home">
      <InventoryList />
    </div>
  </PageLayout>
</template>

<script>
// @ is an alias to /src
import InventoryList from '@/components/InventoryList.vue'
import PageLayout from '@/components/Layout.vue'

export default {
  name: 'HomeView',
  components: {
    InventoryList, PageLayout
  },
  beforeCreate () {
  if (!this.$store.state.isLoggedIn) {
    this.$router.push({ name: 'login' })
  }
},
  data() {
    return {
      widthClass:  "wide-container"
    }
  }
}
</script>
