<template>
    <PageLayout :classes="widthClass">
    <div class="login">
      <LoginBox />
    </div>
  </PageLayout>
</template>

<script>
// @ is an alias to /src
import LoginBox from '@/components/LoginBox.vue'
import PageLayout from '@/components/Layout.vue'

export default {
  name: 'LoginPage',
  components: {
    LoginBox, PageLayout
  },
  data() {
    return {
      widthClass:  "small-container"
    }
  }
}
</script>
